@import "components/variables.scss";
@import "components/mixins.scss";






@import "components/global.scss";
@import "components/type.scss";
@import "components/btns.scss";
@import "components/forms.scss";
@import "components/block.scss";
@import "components/grid.scss";




// .block {
// 	&-header {
// 		background-color: blue;
// 	}
// 	&-content {
// 		background-color: green;
// 	}
// 	&-footer {
// 		background-color: yellow;
// 	}
// }

// bgs
.bg {
	&-dark {
		background-color: #3a454d;
		color: #fff;
	}
	&-darken {
		background-color: #1d2126;
		color: #fff;
	}
	&-primary {
		background-color: tomato;
	}
}


