html {
    box-sizing: border-box;
}

*,
&:before,
&:after {
    box-sizing: inherit;
}



body {
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.wrapper {
	overflow: hidden;
	display: table;
	width: 100%;
	height: 100vh;
	table-layout: fixed;
}

.footer {
	display: table-footer-group;
	height: 1%;
}
